* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
  
}

.container{
    min-width: 340px;
}

.div-input {
    margin-top: 32px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 2.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ipt {
    width: 340px;
    padding: 10px;
    outline: 0;
    border: none;
    text-align: center;
    background: #333;
    color: white;
    border-bottom: 1px solid rgb(149, 149, 149);
    margin-right: 16px;
    font-size: 1rem;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 340px;
}



.div-input button {
    padding: 4px 16px;
    border-radius: 34px;
    border: none;
    cursor: pointer;
    background: #7b72fa;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
}

.div-list {
    margin-top: 32px;
    width: 70%;
}

.listaTarefas {
    margin-top: 16px;
}

li {
    color: wheat;
    list-style: none;
    border-bottom: 24px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid #444;
}

a {
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}